apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devspaces-config
  namespace: {{ argocd.namespace }}
spec:
  destination:
    server: {{ argocd.destination_server | quote }}
  project: {{ argocd.project }}
  source:
    repoURL: {{ gitops_repo.url | quote }}
    targetRevision: {{ gitops_repo.branch }}
    path: {{ helm_charts.devspaces_config_job }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 10m
      limit: 15
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true

